extends base.pug

block content
    video(src="/"+video.fileUrl controls) 
    div
        p=video.description
        small=video.createdAt
    div 
        small Uploaded by 
        if video.owner
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
        else
            a 탈퇴한 유저입니다
    if video.owner
        if String(loggedInUser._id) === String(video.owner._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;